*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  overflow-x: hidden;
  background: #191d2b;
}

/* Stylisation du titre pour qu'il n'apparaisse pas sur page complète*/
.titre{
 display: none;
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 top: 10px;
}
.titre h1{
  text-align: center;
  color: white;
}
/*Fin de titre*/

.pageActive a {
  color: #27AE60;
}

/*Barre de Nav*/
nav{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  height: 100%;
}
nav a{
  color: white;
}
.lien-nav ul{
  display: flex;
}
.lien-nav ul li {
  margin: 0 25px;
}
.lien-nav ul li a:hover{
  color: #27AE60;
}

nav .menu-hamburger{
  display: none;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 35px;
}
/*Barre de Nav*/


/*Liste des Experiences*/
.titreExperience{
  width: 100%;
  margin-top: 10px;
}
.titreExperience h5{
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(91, 255, 118);
}
.experiencesContainer{
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
  margin-left: 4rem;
}

.experiencesContainer .caseExperience{
  position: relative;
  padding-left: 4rem;
  border-left: 1px solid #2a2e35;
}
.experiencesContainer .caseExperience .iconExperience {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: #27AE60;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experiencesContainer .caseExperience .iconExperience i {
  font-size: 1.3rem;
}
.experiencesContainer .caseExperience .tempsExperience {
  padding: 0.2rem 0.6rem;
  background-color: #2a2e35;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.experiencesContainer .caseExperience h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}
.experiencesContainer .caseExperience h5 span {
  color: #b2becd;
  font-weight: 500;
  font-size: 1.2rem;
}
.experiencesContainer .caseExperience p {
  color: #b2becd;
}
/*Fin de liste*/

@media screen and (max-width: 830px) {
  .titre{
    display: block;
  }
  nav{
    padding: 0;
  }
  nav .menu-hamburger{
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  .lien-nav{
    position:fixed;
    background: rgba(255, 255, 255, 0.342);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    margin-right: -200%;
    transition: all 0.5s;
    z-index: 2;
    overflow: hidden;
  }
  .lien-nav.mobile-menu{
    margin-right: 0;
  }
  .lien-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lien-nav ul li {
    margin: 25px 0;
  }
  .lien-nav ul li a{
    color: black;
  }
  .lien-nav ul li a:hover{
    color: #27AE60;
  }
  .experiencesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .titreExperience:nth-of-type(2){
    margin-top: 93px;
  }
  .titreExperience h5{
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(91, 255, 118);
  }
}



